body {
    margin-left: 25%;
    margin-right: 25%;
}

.infos-persos-part1 {
    float: left;
}

.infos-persos-part2 {
    float: right;
}

h5 {
    line-height:3px;
}

h1 {
    line-height:20px;
}

h4 {
    line-height:10px;
}

.entete {
    /*border: 1px solid chocolate;*/
    height: 200px;
}

hr {
    border: none;
    height: 10px;
    /* Set the hr color */
    color: chocolate; /* old IE */
    background-color: chocolate; /* Modern Browsers */
}

.trait {
    background-color: chocolate;
    width: 130px;
    height: 10px;
    float: left;
    margin-right: 10px;
}

.titre-section {
    color: chocolate;
    line-height: 10px;
}

.corps {
    height: 700px;
    /*border: 1px solid chocolate;*/
}

.dates {
    /*border: 1px solid chocolate;*/
    float: left;
    width: 130px;
    height: 30px;
    margin-right: 8px; 
    left: 1px;
    position: relative;
}